<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itee.bingsheng.mybatis.dao.SysFunctionMybatisDao" >

	<resultMap id="sysFunction" type="com.itee.bingsheng.entity.SysFunction" >
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="func_name" property="funcName" javaType="java.lang.String"/>
		<result column="parent_id" property="parentId" javaType="java.lang.Integer"/>
		<result column="func_path" property="funcPath" javaType="java.lang.String"/>
		<result column="status" property="status" javaType="java.lang.Integer"/>
		<result column="parent_name" property="parentName" javaType="java.lang.String"/>
		<result column="icon" property="icon" javaType="java.lang.String"/>
		<result column="order_num" property="orderNum" javaType="java.lang.Integer"/>
	</resultMap>

	<resultMap id="sysRoleFunc" type="com.itee.bingsheng.entity.SysRoleFunc" >
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="role_id" property="roleId" javaType="java.lang.String"/>
		<result column="func_id" property="funcId" javaType="java.lang.Integer"/>
	</resultMap>
	<resultMap id="pathList" type="java.lang.String">
		<result property="funPath" column="funPath"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,func_name,parent_id,func_path,status,icon,order_num
	</sql>

	<sql id="Base_SysRoleFunc_Column_List">
		a.id,a.func_name,a.parent_id,a.func_path,a.icon,a.order_num
	</sql>

	<sql id="Base_SysFunc_Column_List">
		a.id,a.func_name,a.parent_id,a.func_path,a.status,a.order_num,a.icon
	</sql>

	<!--查询所有的功能信息 -->
	<select id="querySysFunctionList" parameterType="Object" resultMap="sysFunction">
		SELECT
		a.id,a.func_name,a.parent_id,a.func_path,a.status,a.order_num,a.icon
		,b.func_name as parent_name
		FROM sys_function a
		LEFT JOIN sys_function b
		ON a.parent_id = b.id
		WHERE 1=1
		<if test="parentId != null and parentId > 0">
			and a.parent_id = #{parentId}
		</if>
		<if test="funcName != null and funcName != ''">
			and a.func_name like CONCAT('%','${funcName}','%' )
		</if>
		ORDER BY a.order_num ASC
		<if test="page != null and page != '' ">
			LIMIT #{page},#{pageSize}
		</if>
	</select>

	<!--查询所有的父节点 -->
	<select id="querySysFunctionParentList" parameterType="Object" resultMap="sysFunction">
		SELECT id,func_name,parent_id,func_path,status,icon,order_num
		FROM sys_function
		WHERE 1=1 and status = 1
		AND parent_id = 0
		ORDER BY order_num ASC,id ASC
	</select>

	<!--查询所有的子节点 -->
	<select id="querySysFunctionSonList" parameterType="Object" resultMap="sysFunction">
		SELECT
		id,func_name,parent_id,func_path,status,icon,order_num
		FROM sys_function
		WHERE 1=1 and status = 1
		<if test="parentId != null and parentId > 0">
			and parent_id = #{parentId}
		</if>
		ORDER BY order_num ASC
	</select>

	<!--插入功能信息记录 -->
	<insert id="insertSysFunction" parameterType="com.itee.bingsheng.entity.SysFunction" keyProperty="id" useGeneratedKeys="true">
		insert INTO sys_function(func_name,parent_id,func_path,status,icon,order_num)
			VALUES (#{funcName},#{parentId},#{funcPath},#{status},#{icon},#{orderNum})
	</insert>

	<!--统计所有的功能信息数量 -->
	<select id="querySysFunctionCount" parameterType="Object" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM sys_function a
		LEFT JOIN sys_function b
		ON a.parent_id = b.id
		WHERE 1=1
		<if test="parentId != null and parentId > 0">
			and a.parent_id = #{parentId}
		</if>
		<if test="funcName != null and funcName != ''">
			and a.func_name like CONCAT('%','${funcName}','%' )
		</if>
	</select>

	<!--查询功能信息 -->
	<select id="querySysFunction" parameterType="java.lang.Integer" resultMap="sysFunction">
		SELECT <include refid="Base_Column_List" />
		FROM sys_function WHERE 1=1 AND status = 1 AND id = #{id}
	</select>

	<!--插入角色功能关系信息记录 -->
	<insert id="insertSysRoleFunc" parameterType="com.itee.bingsheng.entity.SysRoleFunc" keyProperty="id" useGeneratedKeys="true">
		insert INTO sys_role_func(role_id,func_id,create_time)
		VALUES (#{roleId},#{funcId},#{createTime})
	</insert>

	<!--删除角色功能关系信息记录 -->
	<delete id="deleteSysRoleFunc" parameterType="Object">
		delete from
		sys_role_func
		<choose>
			<when test="roleId != null and roleId > 0 ">
				WHERE role_id = #{roleId}
			</when>
			<otherwise>
				WHERE 1 !=1
			</otherwise>
		</choose>
	</delete>

	<!--查询角色对应的所有功能信息 -->
	<select id="querySysFunctionByRoleId" parameterType="Object" resultMap="sysFunction">
		SELECT
		<include refid="Base_SysRoleFunc_Column_List" />
		FROM sys_role_func b
		LEFT JOIN sys_function a
		ON b.func_id = a.id
		WHERE 1=1
		AND a.status = 1
		<if test="roleId != null and roleId > 0">
			and b.role_id = #{roleId}
		</if>
		<if test="parentId != null">
			and a.parent_id = #{parentId}
		</if>
		ORDER  BY a.order_num ASC
	</select>

	<select id="querySysRoleFuncByRoleId" parameterType="Object" resultMap="sysRoleFunc">
		SELECT
		b.func_id
		FROM sys_role_func b
		LEFT JOIN sys_function a
		ON b.func_id = a.id
		WHERE 1=1
		AND a.status = 1
		<if test="roleId != null and roleId > 0">
			and b.role_id = #{roleId}
		</if>
		ORDER  BY a.id ASC
	</select>

	<update id="updateSysFunction" parameterType="Object">
		update sys_function set status = #{status} where id = #{id}
	</update>

	<update id="updateSysFunctionName" parameterType="Object">
		update sys_function set func_name = #{funcName} where id = #{id}
	</update>

	<select id="querySysFunctionForLogin" parameterType="java.lang.Integer" resultType="string">
		select  SUBSTR(sf.func_path,2) as funPath from sys_function sf LEFT JOIN sys_role_func srf on sf.id=srf.func_id LEFT JOIN sys_user su on srf.role_id=su.role_id where su.role_id=#{roleId} and sf.func_path!='#' ORDER BY sf.order_num asc limit 1
	</select>
</mapper>
