<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itee.bingsheng.mybatis.dao.NeedMapper">
    <!-- 查询数量-->
    <select id="pageCount" parameterType="Object" resultType="java.lang.Long">
        SELECT
          count(1)
        from need t
        LEFT JOIN users u on t.user_id=u.user_id
        LEFT JOIN region r on r.id=t.region_id
        where 1=1
        <include refid="page_where"/>
    </select>
    <sql id="page_where">
        <trim suffixOverrides=",">
            <if test="data.user_name != null and data.user_name != ''">
                and u.user_name like concat('%',trim('${data.user_name}'),'%')
            </if>
            <if test="data.phone != null and data.phone != ''">
                and u.phone like concat('%',trim('${data.phone}'),'%')
            </if>
            <if test="data.state != null and data.state != ''">
                and t.state = ${data.state}
            </if>
        </trim>
    </sql>
    <!--查询数据-->
    <select id="pageList" parameterType="Object" resultType="java.util.HashMap">
        SELECT
            t.id,
            t.create_time,
            DATE_FORMAT(t.start_time ,'%Y-%m-%d %H:%i:%S') as start_time,
            DATE_FORMAT(t.end_time ,'%Y-%m-%d %H:%i:%S') as end_time,
            t.`level`,
            t.state,
            t.remark,
            u.user_name,
            u.phone,
            r.`name` as region_name
        from need t
        LEFT JOIN users u on t.user_id=u.user_id
        LEFT JOIN region r on r.id=t.region_id
        where 1=1
        <include refid="page_where"/>
        order by
        <if test="sort!= null and sort != ''">
            ${sort[0].field} ${sort[0].dir},
        </if>
          t.id desc
        <if test="page != null and pageSize != null and pageSize != ''">
            LIMIT ${page},${pageSize}
        </if>
    </select>
</mapper>